<script src="./static/js/utils.js"></script>
<div>
  <div>
     <a class="btn btn-success whatsapp" href="https://api.whatsapp.com/send?phone=+34678223828&text=Buenas%20Tardes!">
       <i class="fab fa-whatsapp"></i> Preguntanos por whatsapp
     </a>
  </div>
  <div id="social" class="container-fluid">
    <div class="row">
      <div class="col">
        <ul class="ul-no-style">
          <li>New College Granada</li>
          <li><strong>C.I.F.:</strong> 75151922 C</li>
        </ul>
      </div>
      <div class="col">
        <ul class="ul-no-style">
          <li><i class="fas fa-envelope-square"></i> newcollegegranada@gmail.com</li>
          <li><i class="fas fa-phone-square"></i> +34 958 079 411</li>
          <li><i class="fab fa-whatsapp"></i> +34662470678 / +34671299360 / +34678223828</li>
        </ul>
      </div>
      <div class="col">
        <ul class="ul-no-style">
          <li><strong>Directora:</strong> Fátima Boulhdir Martín</li>
          <li><strong>Secretario e información:</strong> Tamer Haroon Amer</li>
        </ul>
      </div>
    </div>
  </div>
</div>
