<header>
    <div>
      <nav class="navbar justify-content-between little-nav">
        <div id="logo" class="navbar-brand">
          <strong><a href="./index.html">NCG</a></strong>
        </div>
        <div id="bars" onclick="nav_animation(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </nav>
    
      <nav class="navbar navbar-expand-lg long-nav">
        <div class="collapse navbar-collapse">
          <ul id="long-menu" class="navbar-nav">
            <li id="logo" class="nav-item active"><strong><a href="./index.html">NCG</a></strong></li>
           <li class="nav-item active"><a class="nav-link" href="./officialTitles.html">Titulos oficiales</a></li>
           <li class="nav-item active"><a class="nav-link" href="./tutoring.html">Apoyo escolar</a></li>
           <li class="nav-item active"><a class="nav-link" href="./foreigner.html">Servicios para extranjeros</a></li>
           <li class="nav-item active"><a class="nav-link" href="./translation.html">Servicios de traducción</a></li>
          </ul>
        </div>
      </nav>
    
      <div id="scroll-menu-options">
        <ul class="list-group">
         <li class="list-group-item"><a href="./officialTitles.html">Titulos oficiales</a></li>
         <li class="list-group-item"><a href="./tutoring.html">Apoyo escolar</a></li>
         <li class="list-group-item"><a href="./foreigner.html">Servicios para extranjeros</a></li>
         <li class="list-group-item"><a href="./translation.html">Servicios de traducción</a></li>
        </ul>
      </div>
    </div>
    

  </header>